BOT_TOKEN=123456:ABC...
ADMIN_ID=123456789
YOOKASSA_SHOP_ID=your_shop_id
YOOKASSA_SECRET_KEY=your_secret_key
PAYMENT_PRICE=указать_вашу_стоимость
AWG_URL=http://127.0.0.1:51821
AWG_PASSWORD=ваш_пароль_от_панели
AWG_SERVER_IP=указать_IP_вашего_сервера